@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* variables */
:root {
  --primary: hsl(322, 100%, 66%);
  --neutral-clr1: hsl(193, 100%, 96%);
  --neutral-clr2: hsl(192, 100%, 9%);
  --neutral-clr3: hsl(208, 11%, 55%);
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Open Sans", sans-serif;
}

/* font-family: "Open Sans", sans-serif;
font-weight: 400, 700, Body, Call-to-actions*/

/* font-family: "Poppins", sans-serif;
 Weights: 600,  Headings*/

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: var(--font-family-secondary);
  font-weight: 700;
}

.intro {
  background-color: var(--neutral-clr1);
  background-image: url(./images/bg-hero-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: contain;
  height: 740px;
  width: 100%;
}

.logo {
  width: 30%;
  margin-top: 25px;
  margin-left: 20px;
}

nav {
  display: flex;
  align-items: flex-end;
  gap: 35%;
}

.btn-1 {
  width: 26%;
  padding: 3px;
  border: none;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  color: var(--neutral-clr2);
  cursor: pointer;
}

.main-heading {
  text-align: center;
  margin-top: 100px;
  margin-left: 11%;
  width: 80%;
  font-family: var(--font-family-primary);
}

.main-para {
  text-align: center;
  margin-top: 20px;
  margin-left: 5%;
  width: 90%;
  font-size: 18px;
  font-family: var(--font-family-secondary);
}

.btn-2 {
  margin-top: 30px;
  margin-left: 18%;
  padding: 10px;
  width: 250px;
  border: none;
  background-color: var(--primary);
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
}
.btn {
  width: 100%;
  align-items: center;
}
.mockup {
  width: 90%;
  margin-top: 40px;
  margin-left: 5%;
}
