@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* variables */
:root {
  --primary: hsl(322, 100%, 66%);
  --neutral-clr1: hsl(193, 100%, 96%);
  --neutral-clr2: hsl(192, 100%, 9%);
  --neutral-clr3: hsl(208, 11%, 55%);
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Open Sans", sans-serif;
}

/* font-family: "Open Sans", sans-serif;
font-weight: 400, 700, Body, Call-to-actions*/

/* font-family: "Poppins", sans-serif;
 Weights: 600,  Headings*/

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  background-image: url(/images/bg-hero-mobile.svg);
} */

.intro {
  background-image: url("/images/bg-hero-mobile.svg");
  background-color: var(--neutral-clr1);
  min-height: 100vh;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 20px;
  margin-right: 20px;
}

.btn1 {
  width: 150%;
  height: 65%;
  grid-column: 4/5;
  margin-left: 35px;
  margin-top: 25px;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 0px;
  border-radius: 20px;
  font-family: var(--font-family-secondary);
  font-weight: bold;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.08);
  font-size: 12px;
  align-self: center;
  display: inline-block;
}

.logo {
  width: 150%;
  /* height: 35%; */
  margin-top: 25px;
}

.hero h1 {
  font-family: var(--font-family-primary);
  margin-top: 90px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.span-2 {
  margin-left: 10px;
}

.hero p {
  font-family: var(--font-family-secondary);
  margin-left: 30px;
  margin-right: 10px;
  font-size: 13px;
}

img {
  width: 100%;
}

@media screen and (min-width: 375px) {
  .span-1 {
    margin-left: 30px;
  }

  .span-2 {
    margin-left: 40px;
  }
}

/* small tablet styles */
@media screen and (min-width: 620px) {
}

/* large tablets  & laptop styles*/
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
}

/* Desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
